:root {
    --color-blue: rgb(31, 105, 216);
    --color-yellow: rgb(214, 214, 49);
    --color-red: rgb(199, 30, 30);
}

body {
    font-family: 'Raleway', sans-serif;
}

p {
    font-weight: 600;
}

.container-fluid {
    padding: 0;
}

/*header*/

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    position: fixed;
    z-index: 1;
}

.header__logo {
    width: 10%;
    border-radius: 25%;
}

.header__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.header__link {
    color: black;
    padding: 10px;
    font-weight: 400;
}

.header__link:hover {
    font-style: italic;
    font-weight: 600;
    color: var(--color-blue)
}

.header__img {
    width: 10%;
    border-radius: 15%;
}

@media screen and (max-width: 800px) {
.header {
    height: 100px;
    }
.header__logo {
    max-width: 100%;
    width: 15%;
}
.header__link:hover {
    font-weight: 400;
    }
}

/*infos*/

.infos__title {
    padding-top: 13%;
    text-align: center;
    padding-bottom: 3%;
    font-weight: bold;
    color: var(--color-red);
}

@media screen and (max-width: 800px) {
.infos__title {
    padding-top: 20%;
}
}

.infos__text {
    padding: 3%;
}

.infos__map {
    height: 85%;
    width: 85%;
    margin-left: 15%;
}

/*event list*/

.list-group {
    margin: 10%;
}

.event__title {
    margin-top: 10%;
    padding-bottom: 3%;
    font-weight: bold;
    color: var(--color-red);
}

/*carousel*/

.img-fluid {
    display: block;
    width: 100%;
    height: auto;
}

/*footer*/

.footer {
    margin-top: 50px;
    background-color: black;
}

.btn-custom {
    margin: 15px 150px;
    background-color: var(--color-yellow);
    color: black;
}

.btn-custom:hover {
    font-style: italic;
    font-weight: 600;
    color: var(--color-blue)
}

.social {
    padding-top: 100px;
}

a.link.facebook {
    background: #355496;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    transform: translateY(-50%);
}
a.link.twitter {
    background-color: #00ACEE;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    transform: translateY(-50%);
}
a.link.google{
    background-color: #ff6347;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    transform: translateY(-50%);
}
span{
    padding-top:10px;
}
span:hover{
    transition: 0.9s;
    transform: rotateY(180deg);
}